# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.idea/.gitignore
/.idea/ArcadeGamesGLFW.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-a4d755f0130078f70d7e.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6e9a731d76d24a942561.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-c55d02c08c3744d106c9.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/directory-third_party.Boxer-Debug-81aac75a3a845900499f.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-06-21T14-17-29-0352.json
/cmake-build-debug/.cmake/api/v1/reply/target-ArcadeGamesGLFW-Debug-47c7ee6df367cefd2b99.json
/cmake-build-debug/.cmake/api/v1/reply/target-Boxer-Debug-282bd52ef0c79fb76942.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-8c587b55e6007dd0e97c.json
/cmake-build-debug/bin/Debug/ArcadeGamesGLFW.ilk
/cmake-build-debug/bin/Debug/ArcadeGamesGLFW.pdb
/cmake-build-debug/bin/Debug/imgui.ini
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/ArcadeGamesGLFW.dir/embed.manifest
/cmake-build-debug/CMakeFiles/ArcadeGamesGLFW.dir/intermediate.manifest
/cmake-build-debug/CMakeFiles/ArcadeGamesGLFW.dir/manifest.rc
/cmake-build-debug/CMakeFiles/ArcadeGamesGLFW.dir/manifest.res
/cmake-build-debug/CMakeFiles/ArcadeGamesGLFW.dir/vc140.pdb
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/third_party/Boxer/CMakeFiles/Boxer.dir/Boxer.pdb
/cmake-build-debug/third_party/Boxer/cmake_install.cmake
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/cache-v2-d83c2c46c59ae358a433.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-9337a12507f42bef693e.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-52b5b9c82b35974a6597.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-d0094a50bb2071803777.json
/cmake-build-release/.cmake/api/v1/reply/directory-third_party.Boxer-Release-81aac75a3a845900499f.json
/cmake-build-release/.cmake/api/v1/reply/index-2024-06-21T14-17-29-0445.json
/cmake-build-release/.cmake/api/v1/reply/target-ArcadeGamesGLFW-Release-acad63a9a64b8f5fcd78.json
/cmake-build-release/.cmake/api/v1/reply/target-Boxer-Release-1295ae031ccbf5b008c3.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-8c587b55e6007dd0e97c.json
/cmake-build-release/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-release/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/ShowIncludes/foo.h
/cmake-build-release/CMakeFiles/ShowIncludes/main.c
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/third_party/Boxer/cmake_install.cmake
/cmake-build-release/build.ninja
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
